/* some style */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* common style */
body {
    font-family: sans-serif;
}
section {
    margin-bottom: 80px;
}

/* Task-01 */
.container-01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
}
.container-01 div {
    padding: 20px;
    border-radius: 8px;
}
.child-01 {
    text-align: center;
}
.child-101 {
    flex-basis: 29%;
    background-color: #adadad;
}
.child-102 {
    flex-basis: 70%;
    background-color: rgb(255, 212, 160);
}

@media screen and (max-width: 576px) {
    .container-01 {
        flex-direction: column;
    }
    .container-01 div {
        margin-bottom: 10px;
    }
}

/* Task - 02 */
.container-02 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    border: 2px solid black;
    padding: 10px;
    grid-gap: 10px;
    color: #fff;
    font-size: 35px;
}
.child-201, .child-202-01, .child-202-02-01, .child-202-02-02 {
    padding: 20px;
    border-radius: 8px;
}
.child-202 {
    display: grid;
    grid-gap: 10px;
}
.child-202-02 {
    display: grid;
    grid-gap: 10px;
}

.child-201 {
    background-color: #e71e66;
}
.child-202-01 {
    background-color: #fc9a13;
}
.child-202-02 {
    display: grid;
    grid-template-columns: 2fr 2fr;

}
.child-202-02-01 {
    background-color: #aa3bbc;
}
.child-202-02-02 {
    background-color: #586c7b;
}

@media screen and (max-width: 576px) {
    .container-02 {
        grid-template-columns: repeat(1, 1fr);
    }
    .child-202-02 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Task - 03 */
.container-03 {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
    padding: 10px;
}
.container-03 img{
    width: 100%;
}

/* Task - 04 */
.container-04 {
    display: grid;
    border: 2px solid black;
    padding: 20px;
    grid-gap: 10px;
}
.child-03 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    border: 1px solid rgb(231, 231, 231);
}
.child-03-01 img {
    width: 100%;
    vertical-align: middle;
}
.child-03-02 {
    padding: 20px;
}
.child-03-02 p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    line-height: 25px;
}
.child-03-02 button {
    padding: 15px 25px;
    border: none;
    font-size: 20px;
    background-color: #586c7b;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .child-03 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Task - 05 */
.container-05 {
    display: grid;
    border: 2px solid black;
    padding: 15px;
}
.child-04 {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.child-04 p{
    color: rgba(0, 0, 0, 0.89);
    line-height: 25px;
    font-family: Gill sans-serif;
    font-size: 18px;
}
.child-04-01 img {
    width: 100%;
    vertical-align: middle;
}
.child-04-02 {
    padding: 20px;
}
 @media screen and (max-width: 1200px) {
    .child-04 {
        grid-template-columns: repeat(1, 1fr);
    }
    .child-04:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
 }